
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles */
body{
    margin: 0;
    padding: 0;
    margin: 0 auto;
}

.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.display-flex{
    display: flex;
}
.text-decoration{
    text-decoration: none;
    
}
.orange-text{
    color: #FEA301;
}
.skybule-text{
    color: #01ACFD;
}
.purple-text{
    color: rgba(135, 0, 255, 1);
}
/* nav bar styles */

.nav-bar{
    /* border: 1px solid black; */
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    height: 50px;
    margin: auto 0;
    
}
.nav-school{
    font-weight: 1000;
    font-size: 1.25rem;
    margin-left: 20px;
}

.nav-btn1{
    margin-left: 20px;
    color: #FEA301;
    font-weight: 600;
}
.nav-btn2{
    margin-left: 20px;
    color: #01ACFD;
    font-weight: 600;
}
.nav-btn3{
    margin-left: 20px;
    color: #05D4DF;
    font-weight: 600;
}
.nav-btn4{
    margin-left: 20px;
    color: #5D58EF;
    font-weight: 600;
}
.contact-btn{
    background-color: #FEA301;
    padding: 8px 40px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 1.25rem;
    color: white;
}
.menu-icon{
    
    display: none;
}

/* header container styles */

.header{
    
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.header-container{
    /* border: 1px solid black; */
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    
}
.header-left{
    width: 50%;
  
}
.header-right{
    width: 50%;
    
}

.header-title{
    width: 100%;
    /* border: 1px solid black; */
    font-size: 600;
    font-size: 3.2rem;
    
}
.header-sub{
    font-size: 1.10rem;
}
.header-btn{
    margin-top: 10px;
    border: none;
    background-color: black;
    padding: 10px 40px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 1rem;
    color: white;
}
.marquee{
    font-weight: 500;
    display: flex;
    align-items: center;
    background-color: #FEA301;
}
/* section one  */

/* gradient colours */

.blue-gradient{
    background-image: linear-gradient(180.00deg, rgb(220, 237, 246) 10%, rgb(240, 236, 236) 40.034%)
}
.orange-gradient{
    background-image: linear-gradient(180.00deg, rgb(250, 227, 206) 10%, rgb(240, 236, 236) 40.034%)
}
.purple-gradient{
    background-image: linear-gradient(180.00deg, rgb(230, 203, 243) 10%, rgb(240, 236, 236) 40.034%)
}
.section1-bg{
    border: 1px solid rgb(255, 255, 255);
    background-image: url(assets/bg.png);
    width: 100%;
    height:100%;
}


.section1-container{
    margin: 60px  auto;
    width: 80%;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.section1-header{
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
    

}
.cards{
    margin: 10px auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.08);
    
}
.card-btn{
    margin-top: 20px;
    margin-bottom: 10px;
    border: none;
    background-color: transparent;
    text-decoration: none;
}
.card-btn1{
   
  
}

 /* arrows */
 

 .arrow{
   
    /* border: 1px solid black; */
    margin: 0  auto;
    margin-bottom: 30px;
    height: 40px;
    width: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.arrow-2,.arrow-1{
    
    /* border: 1px solid black; */
 }

/* section 2 part */
.section2-bg{
    background-image: linear-gradient(0.00deg, rgb(244, 211, 148) 10%, rgb(255, 255, 255) 90.034%);
    /* background-image: url(assets/bg.png); */
    
    
}
.section-2-bg-color{
    
    background-color: white;
}
.section-2{
    
    border: 1px solid rgb(255, 255, 255);
    background-color: #fdeccf
}
.section2-container{
    
    gap: 20px;
    width: 80%;
    margin: 60px auto;
}
.section2-title{

    text-align: center;
    font-weight: 800;
    font-size: 2rem;
    margin: 60px auto;
}


.banner1-top,.banner2-top,.banner3-top,.banner4-top,.banner5-top{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
.banner{ 
    border-radius: 20px;
}
.section2-container-left{
    /* border: 1px solid black; */
    
    width: 50%;
    border-radius: 20px;
    
}
.section2-container-right{
    /* border: 1px solid black; */
    width: 50%;
    gap: 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.banner-bottom-title,.banner1-bottom{
    
    margin: 10px auto;
    margin-left: 20px;
}
.section2-btn{
    
    /* border: 1px solid black; */
    margin: 0 auto;
    margin-bottom: 40px;

}

.viewall-btn{
    display: block;
    margin: 0 auto;
    border: none;
    background-color: black;
    padding: 10px 40px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 1rem;
    color: white;
}
 .middle-btn-left{
    
    text-decoration: none;
    position: relative;
    display: block;
    
    bottom: 0;
    left: 15%;
    width: 40%;
    margin-top: -5%;
    transform: translate(-20%, 0%);
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    z-index: 5;
}
.middle-btn-right{
    
    text-decoration: none;
    position: relative;
    display: block;
    bottom: 0;
    left: 20%;
    width: 60%;
    margin-top: -9%;
    transform: translate(-20%, 0%);
    padding: 8px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    z-index: 5;
}
.banner1-top,.banner2-top{
    position: relative;
    display: inline-block;
    width: 100%;
}

/* footer section */
.footer-bg{
    background-color: #01ACFD;
   
}

.footer-container{
    /* border: 1px solid black; */
    color: white;
    justify-content: space-between;
    gap: 30px;
    width: 80%;
    margin: 0 auto;
    padding: 60px 0;
}
.footer-btn{
    /* border: 1px solid black; */
    padding-left: 0;
    list-style: none;
    text-decoration: none;
}
.footer-items{
    text-align: left;
    margin-bottom: 15px;
}
.footer-2{
    /* border: 1px solid black; */
}
.footer-1{
    /* border: 1px solid black; */
    width: 40%;
    
}
.footer-top{
    width: 20%;
    
}
.footer1-logo{
    height: 60px;
    margin: 0 0;
}
.footer1-title{
    margin: 8px 0;
    margin-left: 10px;
    font-size: 1.75rem;
    line-height: 26px;
}
.footer1-sub{
    font-size: 1.25rem;
    margin-right: 0px;
    padding-right: 0px;
    
}
.footer-icons{
    display: flex;
    gap: 10px;
}

@media screen  and (max-width: 660px) {
    
    .header,.section-1{
        width: 90%;
    }
    
    
    .nav-bar{
        padding:20px 10px;
        border: 1px solid #FEA301;
        width: calc(100% - 22px);
        justify-content: space-between;
        margin-top: 0;
        
    }
    .menu-icon{
        display: inline;
    }
    
    .nav-2,.nav-school,.contact-btn{
        display: none;
    }
    .header-title{
        font-size: 600;
        font-size: 3rem;
        margin-bottom: 0;
        text-align: center;
    }
    .header-container{
        flex-direction: column-reverse;
        margin-bottom: 20px;
    }
    .header-right{
        margin-top: 20px;
        width: 100%;
        height: auto;
    }    
    .header-left{
        width: 70%;
        text-align: center;
    }
    .header-title{
        width: 100%;
        /* border: 1px solid black; */
        font-size: 600;
        font-size: 2rem;
    }
    .arrow{
        display: none;
    }
    .section-1{
        
        width: 95%;
        margin: 0 auto;
    }

    .section1-container{
        
        
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        
    }
    .header-left{
        text-align: center;
    }
    .section2-container{
        flex-direction: column;
    }
    .section2-container-right{
        width: 100%;
        
    }
    .section2-container-left{
        display: none;
    }
    .footer-container{
        flex-direction: column;
    }
    .footer-1{
        border: none;
        width: 100%;
        
    }
    .middle-btn-right{
    
        text-decoration: none;
        position: relative;
        display: block;
        bottom: 0;
        left: 20%;
        width: 60%;
        margin-top: -10%;
        transform: translate(-20%, 0%);
        padding: 8px 20px;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        font-size: 0.67rem;
        z-index: 5;
    }
}
    
    @media screen and (min-width:576px) and (max-width: 920px ) {

        .middle-btn-right{
    
            text-decoration: none;
            position: relative;
            display: block;
            bottom: 0;
            left: 20%;
            width: 50%;
            margin-top: -15%;
            transform: translate(-20%, 0%);
            padding: 5px 20px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            font-size: 0.70rem;
            z-index: 5;
        }
        .banner1-bottom{
            padding-right: 20px;
        }
        .nav-bar{
            padding:2px 10px;
            width: 80%;
            justify-content: space-between;
            margin-top: 0;
            
        }
        .nav-btn1,.nav-btn2,.nav-btn3,.nav-btn4{

            margin-left: 5px;
        }
    }
    @media screen and (min-width:200px) and (max-width: 430px ) {
        .middle-btn-right{
    
            text-decoration: none;
            position: relative;
            display: block;
            bottom: 0;
            left: 20%;
            width: 50%;
            margin-top: -10%;
            transform: translate(-20%, 0%);
            padding: 5px 20px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            font-size: 0.58rem;
            z-index: 5;
        }
        .nav-bar{
            padding:2px 10px;
            border: 1px solid #FEA301;
            width: calc(100% - 22px);
            justify-content: space-between;
            margin-top: 0;
            
        }
    }